requests==2.31.0
beautifulsoup4==4.12.2
python-telegram-bot==20.0
langchain==0.1.16
langchain-community==0.1.16
langchain-huggingface==0.1.16
sentence-transformers==2.2.2
faiss-cpu==1.7.4
transformers==4.36.0
torch==2.1.0
requests-html==0.10.0
lxml_html_clean==0.5.0
pdfplumber==0.10.3
